<!-- <nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <a class="navbar-brand" href="#"> Job Application Tracker </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#mynav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mynav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>    
    </ul>
    <form class="form-inline my-2 my-lg-0">      
      <button class="btn btn-warning my2- my-sm-0" type="button">Add Job</button>
    </form>
  </div>
</nav>

<div class="container-fluid"> -->
<app-navbar></app-navbar>
<!-- <h1>Welcome to Job Application Tracker</h1>
<h2>Hello</h2> -->
<router-outlet></router-outlet>


